body {
	background:white;
	margin: 0 auto;
	font-family:'Open Sans', sans-serif;
	height:2000px;
	}

#header {
	position:fixed;
	top:0px;
	left:0px;
	background:rgb(34, 163, 159);
	height:70px;
	width:100%;
	}

#nav {
	margin-left:50px;
	margin-top:45px;
	word-spacing:20px;
  font-weight: 600;
  font-size: 15px;
}

#page1 {
	height:1100px;
	width:100%;
	padding-top:110px;
	}

#page0 {
	height:1100px;
	width:100%;
  padding: 0;
  background: url("http://placekitten.com/601/604") no-repeat center fixed;
  background-size: cover;
}

.background-gray {
  background: rgb(67, 66, 66);
  width: 100%;
}

.background-sand {
	background:rgb(243, 239, 224);
  width: 100%;
}

#page2 {
	height:1100px;
	width:100%;
	background:rgb(243, 239, 224);
	padding-top:150px;
	}

#page2 h2 {
  color: rgb(34, 163, 159);
  font-weight: 300;
  line-height: 54px;
  font-size: 54px;
  text-align: center;
}

#page3 {
	height:1100px;
	width:100%;
  background: rgb(67, 66, 66);
	padding-top:150px;
	}

#page3 h2 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 54px;
  font-size: 54px;
  text-align: center;
}

.page-padding {height:90px; width:100%;}

a { color:white; text-decoration:none;}

a:hover { text-decoration:underline;}

.wrapper {
  width: 100%;
}

.me {
  border: 3px solid rgb(243, 239, 224);
}
