{% extends "template.html" %}
{% block content %}

<div class="container">
  <div id="page1">
    <a name="about">I am here</a>
    <!-- <div class="page-padding"></div> -->
    <div class="row">
      <div class="col-md-8">
        <h1>Tammy Pop</h1>
        <p>Web Developer</p>
      </div>
      <div class="col-md-4">
        <img src="/static/img/me.jpg" class="img-thumbnail me"></img>
      </div>
    </div>
    <div class="row">
      <a href="#portfolio" class="btn btn-primary col-md-offset-3">Projects</a>
    </div>
  </div> <!--end page1-->
</div>

<div class="background-sand">
  <div class="container">
    <div id="page2">
      <a name="portfolio"></a>
      <div class="page-padding"></div>
      <h2>Projects</h2>
      <div class="row">
        <div class="col-md-6">
          <a href="https://github.com/smurfik/dress_up">
            <img src="/static/img/dress_up.png" class="img-thumbnail project"></img>
            <span class="text-content"><span>Rails application where owner/administrators can manage all aspects of their online store</span></span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="http://image-rating.herokuapp.com/">
            <img src="/static/img/image_rating.png" class="img-thumbnail project"></img>
            <span class="text-content"><span>Social image sharing application where users can upload images for storage and peer review</span></span>
          </a>
        </div>
      </div>
    </div> <!--end page2-->
  </div>
</div>

<div class="background-gray">
  <div class="container">
    <div id="page3">
      <a name="contact"></a>
      <a href="#contact"><h2>Contact</h2></a>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-3 labell" for="email">Your Email:</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 labell" for="email">Subject:</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="Enter subject">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 labell" for="pwd">Message:</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="pwd" placeholder="Enter message"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div> <!--end page3-->
  </div>
</div>

{% endblock %}
