{% extends "template.html" %}
{% block content %}

<img src="/static/img/profile.jpg"></img>
<h1>Tammy Pop</h1>
<div id="social-links">
  <a href="https://github.com/smurfik"><i class="fab fa-github-square fa-2x"></i></a>
  <a href="https://linkedin.com/pub/tammy-pop/25/abb/7aa"><i class="fab fa-linkedin fa-2x"></i></a>
  <a href="https://twitter.com/smurfikpop"><i class="fab fa-twitter-square fa-2x"></i></a>
  <a href="https://stackoverflow.com/users/6566747/tammy-pop?tab=profile"><i class="fab fa-stack-overflow fa-2x"></i></a>
  <a href="https://www.instagram.com/tammy.pop/"><i class="fab fa-instagram fa-2x"></i></a>
</div>

{% endblock %}
